.privacy {
    &__description {
        margin-top: 23px;
        font-size: 18px;
        margin-bottom: 20px;
    }

    &__list {
        padding-left: 40px;
        list-style: decimal;

        &-item {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 991px) {
    .privacy {
        &__description {
            font-size: 14px;
            margin: 16px 0;
        }

        &__list {
            font-size: 14px;

            &-item {
                margin-bottom: 10px;
            }
        }
    }
}