@import "./variables.scss";
@import "./fonts.scss";

body {
    font-family: "Gotham Pro Regular", sans-serif;
    color: $text-black;
}

body,
html {
    overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

a {
    &:hover {
        text-decoration: none;
    }
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    display: block;
    cursor: pointer;
}

input,
button {
    border: none;

    &:focus {
        outline: none;
    }
}

.btn {
    padding: 12px 22px;
    font-size: 18px;
    border-radius: 12px;
    color: #fff;
    min-height: 56px;
    transition: background 0.17s ease;

    &.btn-primary {
        background: $btn-primary;

        &:hover {
            background: $btn-primary-hover;
        }

        &:active {
            background: $btn-primary-active;
        }
    }

    &.btn-secondary {
        background: $btn-secondary;

        &:hover {
            background: $btn-secondary-hover;
        }

        &:active {
            background: $btn-secondary-active;
        }
    }

    &.btn-lg {
        max-width: 335px;
        width: 100%;
    }
}

a.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &:hover {
        color: #fff;
    }
}

.input {
    width: 100%;
    font-size: 18px;
    background: none;
    color: #fff;
    border-bottom: 1px solid #585C65;
    padding: 14px 16px 14px 2px;

    &::placeholder {
        color: #838997;
    }

    &-wrapper {
        position: relative;
        margin-bottom: 20px;

        .input-validation {
            position: absolute;
            right: 0;
            top: 15px;
            width: 10px;
            height: 10px;

            &--green {
                background: url("../img/inputs/green.png") no-repeat;
            }

            &--red {
                background: url("../img/inputs/red.png") no-repeat;
            }
        }
    }
}

.section {
    &>.container {
        position: relative;
    }

    &__title {
        font-family: Gotham Pro Bold;
        font-size: 45px;
        color: #000;
        margin-bottom: 35px;
    }
}

.breadcrumbs {
    margin-bottom: 30px;
    padding-top: 57px;

    &-content {
        display: flex;
    }

    &__item {
        font-size: 16px;
        background: $breadcrumbs-bg;
        padding: 4px 16px;
        border-radius: 7px;
        margin-right: 13px;
        color: $text-black;

        &:hover {
            color: $text-black;
            text-decoration: none;
        }

        &:last-child {
            color: $text-primary;
        }
    }

    &__images {
        &>div {
            position: absolute;
        }

        #star1 {
            top: 19px;
            left: -54px;
        }

        #star2 {
            right: 45px;
            top: 33px;
        }

        #star3 {
            right: 0px;
            top: 68px;
        }
    }
}

.nav {
    background: $header-bg;

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 38px 0 41px;
        min-height: 147px;
    }

    &__logo {
        min-width: 78px;

        &>img {
            width: 100%;
        }
    }

    &__list {
        display: flex;

        &>li {
            margin-right: 43px;

            &:last-child {
                margin-right: 0;
            }

            a {
                font-family: Gotham Pro Bold;
                font-size: 16px;
                line-height: 15px;
                color: #fff;
            }
        }
    }

    &-actions {
        display: flex;

        &__btn {
            border-radius: 9px;
            background: $header-btn;
            font-size: 17px;
            line-height: 16px;
            min-height: 48px;

            &:hover {
                background: $header-btn-hover;
            }

            &:active {
                background: $header-btn-active;
            }

            &:first-child {
                margin-right: 15px;
            }
        }
    }
}

.header {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 147px);
    background: $header-bg;
    padding-bottom: 75px;

    .container {
        position: relative;
    }

    &__images {
        &>div {
            position: absolute;
        }

        #header-man {
            right: 28px;
            top: -16px;
            width: 500px;

            &>img {
                width: 100%;
            }
        }

        #star1 {
            top: -34px;
            left: -53px;
        }

        #star2 {
            left: -19px;
            bottom: -29px;
        }

        #star3 {
            top: 53px;
            left: 48%;
        }
    }

    &-wrapper {
        max-width: 682px;
    }

    &__title {
        font-family: Gotham Pro Bold;
        font-size: 45px;
        line-height: 56px;
        color: #fff;
        margin-bottom: 48px;
    }

    &__subtitle {
        font-size: 20px;
        color: #fff;
        margin-bottom: 46px;
    }

    &-contact {
        display: flex;

        &__input {
            margin-right: 11px;
            font-size: 18px;
            padding: 15px 18px 15px 26px;
            height: 56px;
            border-radius: 12px;

            &__flag {
                position: absolute;
                height: 18px;
                width: 18px;
                top: 13px;
                left: 14px;

                &>img {
                    width: 100%;
                }
            }

            &-wrapper {
                position: relative;

                input {
                    width: 80px;
                    padding: 15px 11px 15px 39px;
                }
            }
        }

        &__button {
            width: 100%;
        }
    }
}

.footer {
    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 45px 0 50px;
    }

    &__logo {
        min-width: 78px;

        &>img {
            width: 100%;
        }
    }

    &__list {
        display: flex;

        &>li {
            margin-right: 43px;

            &:last-child {
                margin-right: 0;
            }

            a {
                font-family: Gotham Pro Bold;
                font-size: 16px;
                line-height: 15px;
                color: $text-black;
            }
        }
    }

    &-info {
        display: flex;
        align-items: center;

        &__socials {
            margin-right: 25px;

            &>a {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.partners {
    padding: 75px 0;

    #partners-slider {
        opacity: 0;
        visibility: hidden;

        &.tns-slider {
            visibility: visible;
            opacity: 1;
        }
    }
}

.products {
    margin-bottom: 90px;

    &-cases {
        margin-bottom: 22px;
    }

    &-item {
        display: flex;
        margin-bottom: 33px;

        &:last-child {
            margin-bottom: 72px;
        }

        &__description {
            flex: 0 0 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: 80px;
        }

        &__images {
            flex: 0 0 50%;

            img {
                width: 100%;
            }
        }
    }

    &-all {
        display: flex;
        justify-content: center;
    }

    .product {
        &__title {
            font-family: Gotham Pro Bold;
            font-size: 32px;
            line-height: 31px;
            margin-bottom: 22px;
        }

        &__subtitle {
            font-size: 18px;
            margin-bottom: 22px;
        }

        &__downloads {
            display: flex;
            margin-bottom: 32px;

            &>a {
                width: 46px;
                min-height: 46px;
                padding: 0;

                &:first-child {
                    margin-right: 12px;
                }
            }
        }

        &__link {
            color: $text-primary;
            font-family: Gotham Pro Bold;
            font-size: 17px;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.achievements {
    margin-bottom: 100px;

    &-item {
        &__image {
            margin-bottom: 54px;
        }

        &__description {
            font-size: 18px;
        }
    }
}

.services {
    margin-bottom: 98px;

    &-item {
        background: $services-bg;
        border-radius: 22px;
        padding: 78px 78px 69px;
        display: flex;
        margin-bottom: 31px;

        &__left {
            max-width: 660px;
            width: 100%;
            z-index: 1;
        }

        &__right {
            position: relative;
        }

        &__title {
            font-family: Gotham Pro Bold;
            font-size: 45px;
            margin-bottom: 30px;
        }

        &__tags {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;

            .tags-item {
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 42px;
                border-radius: 8px;
                background: #fff;
                margin-right: 10px;
                font-size: 18px;
                font-weight: bold;
                padding: 7px 30px;
                margin-bottom: 10px;
            }
        }

        &__description {
            font-size: 18px;
            margin-bottom: 25px;
        }

        &__image {
            position: absolute;

            &--mobile {
                top: -128px;
                left: -135px;
            }

            &--web {
                top: -70px;
                left: -89px;
            }
        }
    }
}

.experience {
    margin-bottom: 87px;

    &-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;

        .section__title {
            margin-bottom: 0;
        }

        &__controls {
            display: flex;
            align-items: center;

            &>button {
                padding: 8px;
                background: none;
            }

            #experience-slider-prev {
                margin-right: 20px;
            }
        }
    }

    #experience-slider {
        opacity: 0;
        visibility: hidden;

        &-mw {
            margin-top: -18px;
        }

        &.tns-slider {
            visibility: visible;
            opacity: 1;
        }
    }

    &-slider {
        margin-bottom: 50px;

        &__item {
            max-width: 268px;

            &--lg {
                max-width: 568px;
            }

            &__image {
                border-radius: 17px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                margin-bottom: 28px;
            }

            &__description {
                color: $text-black;
                width: 90%;
                font-size: 18px;
                font-weight: bold;

                &:hover {
                    text-decoration: none;
                    color: $text-black;
                }
            }
        }
    }

    &-all {
        display: flex;
        justify-content: center;
    }
}

.contact {
    &-wrapper {
        position: relative;
        background: $contact-form-bg;
        border-radius: 22px;
        padding: 75px 92px 110px 81px;
    }

    &__title {
        font-family: Gotham Pro Bold;
        font-size: 45px;
        color: #fff;
        margin-bottom: 62px;
    }

    &-sides {
        display: flex;
    }

    &-left {
        margin-right: 77px;
    }

    &-right {
        width: 100%;
    }

    &__avatar {
        margin-bottom: 21px;
        width: 224px;
        border-radius: 17px;
        overflow: hidden;

        &>img {
            width: 100%;
        }
    }

    &__name {
        font-family: Gotham Pro Bold;
        font-size: 25px;
        color: #fff;
        margin-bottom: 24px;
    }

    &__occupation {
        font-size: 18px;
        color: #9ca2af;
        margin-bottom: 42px;
    }

    &__info {
        font-family: Gotham Pro Bold;
        font-size: 18px;
        color: #fff;
    }

    &-form {
        &__inputs-wrapper {
            .input-wrapper:last-child {
                margin-bottom: 60px;
            }
        }

        &__button-wrapper {
            display: flex;
            align-items: center;
        }

        &__caption {
            font-size: 16px;
            color: #656e81;
            margin-left: 34px;
        }
    }

    &__dots {
        .left-dots {
            position: absolute;
            left: -65px;
            top: 50%;
            transform: translateY(-50%);
        }

        .right-dots {
            position: absolute;
            right: -65px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.blog {
    margin-bottom: 80px;

    &-grid {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        &__item {
            &__image {
                display: block;
                margin-bottom: 30px;
                border-radius: 17px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &__description {
                color: $text-black;
                width: 90%;
                font-size: 18px;
                font-weight: bold;

                &:hover {
                    color: $text-black;
                    text-decoration: none;
                }
            }

            &--1 {
                grid-column-start: 1;
                grid-column-end: 3;
            }

            &--6 {
                grid-column-start: 3;
                grid-column-end: 5;
            }
        }
    }
}

.privacy {
    &-list {
        counter-reset: my-counter;

        &__item {
            margin-bottom: 40px;
            counter-increment: my-counter;

            &::before {
                content: counter(my-counter) ". ";
                font-family: Gotham Pro Bold;
                font-size: 32px;
            }

            .item {
                &__title {
                    font-family: Gotham Pro Bold;
                    font-size: 32px;
                }

                &__description {
                    margin-top: 23px;
                    font-size: 18px;
                    margin-bottom: 20px;
                }

                &-list {
                    padding-left: 40px;

                    &__item {
                        margin-bottom: 20px;
                        counter-increment: my-counter-inner;

                        &::before {
                            content: counter(my-counter) "."counter(my-counter-inner) ". ";
                        }
                    }
                }
            }
        }
    }
}

.post {
    .section__title {
        max-width: 870px;
        line-height: 48px;
    }

    &-slider {
        position: relative;
        margin-bottom: 66px;

        &__controls {
            position: absolute;
            left: 0;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            z-index: 1;
            display: flex;
            justify-content: space-between;

            &>button {
                padding: 16px;
                background: none;
            }
        }

        img {
            width: 100%;
        }
    }

    &-content {
        font-size: 18px;

        &__paragraph {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 57px;
            }
        }
    }

    &-footer {
        margin-bottom: 57px;

        &__title {
            width: 60%;
            font-family: Gotham Pro Bold;
            font-size: 32px;
            color: #000;
            line-height: 38px;
            margin-bottom: 40px;
        }

        &__image {
            border-radius: 17px;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        &__sides {
            display: flex;
            margin-bottom: 57px;

            .left-side {
                flex: 0 0 50%;
            }

            .right-side {
                flex: 0 0 50%;
                display: flex;
                align-items: center;
                padding-left: 70px;
            }
        }

        &-list {
            &__item {
                position: relative;
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 11px;

                &::before {
                    content: '';
                    background: $text-secondary;
                    height: 9px;
                    width: 9px;
                    position: absolute;
                    border-radius: 50%;
                    left: -24px;
                    top: 8px;
                }
            }
        }

        &__actions {
            display: flex;
            justify-content: space-between;
        }
    }
}

.modal {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 40px;
    transition: all 0.25s ease;

    &-content {
        position: relative;
        background-color: $contact-form-bg;
        border-radius: 22px;
        padding: 75px 40px 70px;
        max-width: 1200px;
        width: 100%;
    }

    &__title {
        font-family: Gotham Pro Bold;
        font-size: 45px;
        color: #fff;
        margin-bottom: 40px;
        text-align: center;
    }

    &-form {
        width: 787px;
        margin: 0 auto;

        &__inputs {
            display: flex;
            margin-bottom: 69px;

            .input-wrapper {
                max-width: 377px;
                width: 100%;
                margin-bottom: 0;

                &:first-child {
                    margin-right: 33px;
                }
            }
        }

        &__actions {
            width: 335px;
            margin: 0 auto;
            text-align: center;
        }

        &__button {
            margin-bottom: 26px;
        }

        &__caption {
            font-size: 16px;
            color: #656E81;
        }
    }

    &__images {
        &>div {
            position: absolute;
        }

        #phone {
            top: 74px;
            right: -153px;
        }

        #blue-dots {
            top: -43px;
            right: -94px;
        }

        #red-dots {
            bottom: -83px;
            left: 42px;
        }
    }
}

@media (min-width: 1440px) {
    .header {
        &__images {
            #header-man {
                right: -178px;
                top: -129px;
                width: unset;
            }

            #star1 {
                top: -200px;
                left: -113px;
            }

            #star2 {
                left: -86px;
                bottom: -82px;
            }

            #star3 {
                top: -73px;
                left: 48%;
            }
        }
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .modal-form {
        width: 540px;
    }

    .header {
        &-container {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }

        &-wrapper {
            text-align: center;
            margin-top: 60px;
        }

        &__images {
            #header-man {
                margin: 0 auto;
                position: unset;
                width: 420px;
            }

            #star1 {
                top: 0;
                left: 0;
            }

            #star2 {
                left: 86px;
                bottom: 100px;
            }

            #star3 {
                top: 45%;
                right: 106px;
                left: unset;
            }
        }
    }

    .services {
        &-item {
            &__left {
                &--mobile {
                    max-width: 560px;
                }

                &--web {
                    max-width: 500px;
                }
            }

            &__image {
                &>img {
                    width: 100%;
                }

                &--mobile {
                    width: 580px;
                    top: -63px;
                    left: -124px;
                }

                &--web {
                    width: 600px;
                    top: -45px;
                    left: -123px;
                }
            }
        }
    }

    .footer {
        &-info {
            flex-direction: column;

            &__socials {
                margin-bottom: 5px;
            }
        }
    }
}

@media (max-width: 991px) {
    .input {
        font-size: 14px;
        padding-top: 9px;
        padding-bottom: 9px;
        text-align: center;
    }

    .btn {
        font-size: 14px;
        padding: 10px 18px;
        min-height: 44px;
    }

    .container {
        max-width: unset;
    }

    .experience {
        margin-bottom: 45px;

        &-header {
            margin-bottom: 26px;
            display: block;
            text-align: center;

            .section__title {
                font-size: 20px;
            }

            &__controls {
                display: none;
            }
        }

        &-slider {
            margin-bottom: 26px;

            &__item {
                max-width: 183px;

                &__image {
                    height: 246px;
                    margin-bottom: 19px;

                    img {
                        height: 100%;
                    }
                }

                &__description {
                    display: block;
                    width: 100%;
                    text-align: center;
                    font-size: 14px;
                }
            }
        }
    }

    .contact {
        .container {
            padding: 0;
        }

        &-wrapper {
            padding: 37px 17px 41px;
        }

        &-left {
            margin-right: unset;
            text-align: center;
        }

        &-right {
            margin-bottom: 33px;
        }

        &-wrapper {
            border-radius: 0;
        }

        &__title {
            text-align: center;
            font-size: 20px;
            margin-bottom: 20px;
        }

        &-sides {
            flex-direction: column-reverse;
            align-items: center;
        }

        &-form {
            &__inputs-wrapper {
                .input-wrapper:last-child {
                    margin-bottom: 42px;
                }
            }

            &__button {
                max-width: unset !important;
                width: 100% !important;
                margin-bottom: 16px;

                &-wrapper {
                    display: block;
                }
            }

            &__caption {
                text-align: center;
                font-size: 13px;
            }
        }

        &__avatar {
            width: 66px;
            height: 66px;
            margin: 0 auto 24px;
        }

        &__name {
            font-size: 16px;
            margin-bottom: 11px;
        }

        &__occupation {
            font-size: 13px;
            margin-bottom: 20px;
        }

        &__info {
            font-size: 15px;
        }

        &__dots {
            display: none;
        }
    }
}

@media (max-width: 575px) {
    .btn {
        max-width: unset !important;
    }
}