@import "./variables.scss";
@import "./fonts.scss";

body {
    font-family: "Gotham Pro Regular", sans-serif;
    color: $black;
    overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

ul {
    list-style: none;
    margin: 0;
}

button {
    display: block;
    cursor: pointer;
}

input,
button {
    border: none;

    &:focus {
        outline: none;
    }
}

.btn {
    padding: 12px 22px;
    font-size: 18px;
    border-radius: 12px;
    color: #fff;
    min-height: 56px;
    transition: background 0.17s ease;

    &.btn-primary {
        background: $btn-primary;

        &:hover {
            background: $btn-primary-hover;
        }

        &:active {
            background: $btn-primary-active;
        }
    }

    &.btn-secondary {
        background: $btn-secondary;

        &:hover {
            background: $btn-secondary-hover;
        }

        &:active {
            background: $btn-secondary-active;
        }
    }

    &.btn-lg {
        max-width: 365px;
        width: 100%;
    }
}

a.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &:hover {
        color: #fff;
    }
}

.section {
    &__title {
        font-family: Gotham Pro Bold;
        font-size: 45px;
        color: #000;
        margin-bottom: 35px;
    }
}

.nav {
    background: $header-bg;

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 38px 0 41px;
        min-height: 147px;
    }

    &__logo {
        min-width: 78px;

        &>img {
            width: 100%;
        }
    }

    &__list {
        display: flex;

        &>li {
            margin-right: 43px;

            &:last-child {
                margin-right: 0;
            }

            a {
                font-family: Gotham Pro Bold;
                font-size: 16px;
                line-height: 15px;
                color: #fff;
            }
        }
    }

    &-actions {
        display: flex;

        &__btn {
            border-radius: 9px;
            background: $header-btn;
            font-size: 17px;
            line-height: 16px;
            min-height: 48px;

            &:hover {
                background: $header-btn-hover;
            }

            &:active {
                background: $header-btn-active;
            }

            &:first-child {
                margin-right: 15px;
            }
        }
    }
}

.header {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 147px);
    background: $header-bg;
    padding-bottom: 75px;

    &-wrapper {
        max-width: 682px;
    }

    &__title {
        font-family: Gotham Pro Bold;
        font-size: 45px;
        line-height: 56px;
        color: #fff;
        margin-bottom: 48px;
    }

    &__subtitle {
        font-size: 20px;
        color: #fff;
        margin-bottom: 46px;
    }

    &-contact {
        display: flex;

        &__input {
            margin-right: 11px;
            font-size: 18px;
            padding: 15px 18px 15px 26px;
            height: 56px;
            border-radius: 12px;

            &.flag {
                width: 80px;
            }
        }

        &__button {
            width: 100%;
        }
    }
}

.footer {
    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 45px 0 50px;
    }

    &__logo {
        min-width: 78px;

        &>img {
            width: 100%;
        }
    }

    &__list {
        display: flex;

        &>li {
            margin-right: 43px;

            &:last-child {
                margin-right: 0;
            }

            a {
                font-family: Gotham Pro Bold;
                font-size: 16px;
                line-height: 15px;
                color: $black;
            }
        }
    }

    &-info {
        display: flex;
        align-items: center;

        &__socials {
            margin-right: 25px;
        }
    }
}

.partners {
    padding: 75px 0;

    #partners-slider {
        opacity: 0;
        visibility: hidden;

        &.tns-slider {
            visibility: visible;
            opacity: 1;
        }
    }
}

.products {
    margin-bottom: 90px;

    &-item {
        display: flex;
        margin-bottom: 33px;

        &:last-child {
            margin-bottom: 72px;
        }

        &__description {
            flex: 0 0 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: 80px;
        }

        &__images {
            flex: 0 0 50%;

            img {
                width: 100%;
            }
        }
    }

    &-all {
        display: flex;
        justify-content: center;
    }

    .product {
        &__title {
            font-family: Gotham Pro Bold;
            font-size: 32px;
            line-height: 31px;
            margin-bottom: 22px;
        }

        &__subtitle {
            font-size: 18px;
            margin-bottom: 22px;
        }

        &__downloads {
            display: flex;
            margin-bottom: 32px;

            &>a {
                width: 46px;
                min-height: 46px;
                padding: 0;

                &:first-child {
                    margin-right: 12px;
                }
            }
        }

        &__link {
            color: $primary;
            font-family: Gotham Pro Bold;
            font-size: 17px;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.achievements {
    margin-bottom: 100px;

    &-item {
        &__image {
            margin-bottom: 54px;
        }

        &__description {
            font-size: 18px;
        }
    }
}

.services {
    margin-bottom: 98px;

    &-item {
        background: $services-bg;
        border-radius: 22px;
        padding: 78px 78px 69px;
        display: flex;
        margin-bottom: 31px;

        &__left {
            max-width: 660px;
            width: 100%;
            z-index: 1;
        }

        &__right {
            position: relative;
        }

        &__title {
            font-family: Gotham Pro Bold;
            font-size: 45px;
            margin-bottom: 30px;
        }

        &__tags {
            display: flex;
            margin-bottom: 30px;

            .tags-item {
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 42px;
                border-radius: 8px;
                background: #fff;
                margin-right: 10px;
                font-size: 18px;
                font-weight: bold;
                padding: 7px 30px;
            }
        }

        &__description {
            font-size: 18px;
            margin-bottom: 25px;
        }

        &__image {
            position: absolute;

            &--mobile {
                top: -128px;
                left: -135px;
            }

            &--web {
                top: -70px;
                left: -89px;
            }
        }
    }
}

.experience {
    margin-bottom: 87px;
    
    &-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;

        .section__title {
            margin-bottom: 0;
        }

        &__controls {
            display: flex;
            align-items: center;

            & > button {
                padding: 8px;
                background: none;
            }

            #experience-slider-prev {
                margin-right: 20px;
            }
        }
    }

    #experience-slider {
        opacity: 0;
        visibility: hidden;

        &-mw {
            margin-top: -18px;
        }

        &.tns-slider {
            visibility: visible;
            opacity: 1;
        }
    }

    &-slider {
        margin-bottom: 50px;

        &__item {
            max-width: 268px;

            &--lg {
                max-width: 568px;
            }

            &__image {
                border-radius: 17px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                margin-bottom: 28px;
            }

            &__description {
                color: $black;
                width: 90%;
                font-size: 18px;
                font-weight: bold;

                &:hover {
                    text-decoration: none;
                    color: $black;
                }
            }
        }
    }

    &-all {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}