<footer class="footer">
    <div class="container">
        <div class="footer-wrapper">
            <a href="/index.html" class="footer__logo">
                <img src="./images/logo-black.png" alt="Joy Dev logo">
            </a>
            <ul class="footer__list">
                <li><a href="/index.html#partners">Клиенты</a></li>
                <li><a href="/index.html#products">Кейсы</a></li>
                <li><a href="/index.html#services">Услуги</a></li>
                <li><a href="/index.html#blog">Блог</a></li>
                <li><a href="/index.html#contacts">Контакты</a></li>
            </ul>
            <div class="footer-info">
                <div class="footer-info__socials">
                    <a href="https://clutch.co/profile/joy-dev" target="_blank" rel="noopener">
                        <img src="./images/socials/clutch.png" alt="Clutch">
                    </a>
                    <a href="https://www.reddit.com/user/Joy-dev" target="_blank" rel="noopener">
                        <img src="./images/socials/reddit.png" alt="Reddit">
                    </a>
                    <a href="https://www.behance.net/JoyDev1306" target="_blank" rel="noopener">
                        <img src="./images/socials/behance.png" alt="Behance">
                    </a>
                    <a href="https://medium.com/@joydeeev" target="_blank" rel="noopener">
                        <img src="./images/socials/medium.png" alt="Medium">
                    </a>
                    <a href="https://twitter.com/joydeeeev" target="_blank" rel="noopener">
                        <img src="./images/socials/twitter.png" alt="Twitter">
                    </a>
                    <a href="https://www.facebook.com/joydeeev/" target="_blank" rel="noopener">
                        <img src="./images/socials/facebook.png" alt="Facebook">
                    </a>
                </div>
                <div class="footer-info__copyright">© 2008–2020 JoyDev</div>
            </div>
        </div>
    </div>
    <div class="footer-mobile-wrapper">
        <button class="footer-mobile__btn open-menu">
            <img src="./images/footer/menu.png" alt="">
        </button>
        <button class="footer-mobile__btn close-menu">
            <img src="./images/footer/close.png" alt="">
        </button>
        <a href="/index.html" class="footer-mobile__logo">
            <img src="./images/logo-light.png" alt="Joy Dev logo">
        </a>
        <button class="footer-mobile__btn call-btn">
            <img src="./images/footer/phone.png" alt="">
        </button>
    </div>
    <div class="footer-mobile-menu">
        <ul class="footer-mobile-menu__list">
            <li class="menu__item">
                <a href="/index.html#partners">Клиенты</a>
            </li>
            <li class="menu__item">
                <a href="/index.html#products">Кейсы</a>
            </li>
            <li class="menu__item">
                <a href="/index.html#services">Услуги</a>
            </li>
            <li class="menu__item">
                <a href="/index.html#blog">Блог</a>
            </li>
            <li class="menu__item">
                <a href="/index.html#contacts">Контакты</a>
            </li>
        </ul>
        <div class="footer-mobile-menu__images">
            <div id="star1">
                <img src="./images/header/star2.png" alt="">
            </div>
            <div id="star2">
                <img src="./images/header/star3.png" alt="">
            </div>
            <div id="dots">
                <img src="./images/header/dots.png" alt="">
            </div>
        </div>
    </div>
</footer>