<nav class="nav">
    <div class="container">
        <div class="nav-wrapper">
            <div style="display: flex; align-items: center">
                <a href="index.html" class="nav__logo">
                    <img src="./images/logo-light.png" alt="Joy Dev logo">
                </a>
            </div>
            <ul class="nav__list">
                <li><a href="index.html#partners">Клиенты</a></li>
                <li><a href="index.html#products">Кейсы</a></li>
                <li><a href="index.html#services">Услуги</a></li>
                <li><a href="index.html#blog">Блог</a></li>
                <li><a href="index.html#contacts">Контакты</a></li>
            </ul>
            <div class="nav-actions">
                <button class="btn nav-actions__btn call-btn">Заказать звонок</button>
                <button class="btn nav-actions__btn">Ru</button>
            </div>
        </div>
    </div>
</nav>