<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joy Dev</title>
    <link rel="icon" href="./images/logo-black.png">
    <link rel="stylesheet" href="./styles/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="./styles/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="./styles/css/aos.min.css">
    <link rel="stylesheet" href="./styles/index.min.css">
    <script src="./scripts/lib/aos.min.js"></script>
    <script src="./scripts/alerts.min.js"></script>
</head>

<body>
    {% include "header.html" %}

    <section class="section privacy">
        <div class="container">
            <div class="breadcrumbs">
                <div class="breadcrumbs-content">
                    <a href="index.html" class="breadcrumbs__item">Главная</a>
                    <div class="breadcrumbs__item">Политика конфиденциальности</div>
                </div>
                <div class="breadcrumbs__images">
                    <div id="star1">
                        <img src="./images/breadcrumbs/star1.png" alt="">
                    </div>
                    <div id="star2">
                        <img src="./images/breadcrumbs/star2.png" alt="">
                    </div>
                    <div id="star3">
                        <img src="./images/breadcrumbs/star3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="section__title">Политика конфиденциальности</div>
            <div class="privacy-content">
                <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <div class="privacy__description">
                        Пользователь, отправляя заявку на сайте joy-dev.com, принимает настоящее Согласие на
                        обработку персональных данных (далее — Согласие). Действуя свободно, своей волей и в своем
                        интересе, а также подтверждая свою дееспособность, Пользователь дает свое согласие компании
                        “JoyDev” на обработку своих персональных данных со следующими условиями:
                    </div>
                    <ol class="privacy__list">
                        <li class="privacy__list-item">
                            Данное Согласие дается на обработку персональных данных, как без использования средств
                            автоматизации, так и с их использованием.
                        </li>
                        <li class="privacy__list-item">
                            Согласие дается на обработку следующих персональных данных: ФИО, номера контактных
                            телефонов; адреса электронной почты; данные о проекте; пользовательские данные (сведения
                            о местоположении; тип и версия ОС; тип и версия Браузера; тип устройства и разрешение
                            его экрана; источник, откуда пришел на сайт пользователь, с какого сайта или по какой
                            рекламе; язык ОС и Браузера; какие страницы открывает и на какие кнопки нажимает
                            пользователь; ip-адрес). Персональные данные не являются специальными или
                            биометрическими.
                        </li>
                        <li class="privacy__list-item">
                            Персональные данные не являются общедоступными.
                        </li>
                        <li class="privacy__list-item">
                            Цели обработки персональных данных: обработка входящих запросов физических лиц с целью
                            оказания услуг; аналитики действий физического лица на веб-сайте и функционирования
                            веб-сайта.
                        </li>
                        <li class="privacy__list-item">
                            Основанием для обработки персональных данных является: Политика обработки персональных
                            данных (далее – Политика), разработанная в соответствии с Федеральным законом от
                            27.07.2006. №152-ФЗ «О персональных данных» (далее – ФЗ-152).
                        </li>
                        <li class="privacy__list-item">
                            В ходе обработки с персональными данными будут совершены следующие действия: сбор,
                            запись, систематизация, накопление, хранение, уточнение (обновление, изменение),
                            извлечение, использование, передача, блокирование, удаление, уничтожение — все
                            упомянутые действия только в целях, указанных в п. 4 настоящего Соглашения.
                        </li>
                        <li class="privacy__list-item">
                            Также обработка персональных данных может быть прекращена по запросу субъекта
                            персональных данных. Хранение персональных данных, зафиксированных на бумажных носителях
                            осуществляется согласно Федеральному закону No125-ФЗ «Об архивном деле в Российской
                            Федерации» и иными нормативно правовыми актами в области архивного дела и архивного
                            хранения.
                        </li>
                        <li class="privacy__list-item">
                            Согласие может быть отозвано субъектом персональных данных или его представителем путём
                            направления письменного заявления в Компанию по электронному адресу hello@joy-dev.com
                        </li>
                        <li class="privacy__list-item">
                            В случае отзыва субъектом персональных данных или его представителем согласия на
                            обработку персональных данных компания “JoyDev” вправе продолжить обработку персональных
                            данных без согласия субъекта персональных данных при наличии оснований, указанных в
                            пунктах 2 — 11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального
                            закона No152-ФЗ «О персональных данных» от 27.07.2006 г.
                        </li>
                        <li class="privacy__list-item">
                            Настоящее согласие действует все время до момента прекращения обработки персональных
                            данных, указанных в п.7 и п.8 данного Согласия.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    {% include "footer.html" %}

    {% include "modals.html" %}

    {% include "alerts.html" %}

    <script src="./scripts/aos-config.min.js"></script>
    <script src="./scripts/menu.min.js"></script>
    <script src="./scripts/modal.min.js"></script>
</body>

</html>